# springboot
# Ignore build artifacts
weather-application/dist
weather-application/target

# Ignore log files
/weather-application/*.log


#angular
# Ignore node_modules directory
WeatherApp/node_modules

# Ignore IDE-specific files
WeatherApp/.idea
WeatherApp/.project
WeatherApp/.classpath
WeatherApp/.c9/
WeatherApp/*.launch
WeatherApp/.settings/
WeatherApp/*.sublime-workspace

# Ignore OS-specific files
WeatherApp/.DS_Store
WeatherApp/Thumbs.db

# Ignore generated documentation
WeatherApp/docs

# Ignore temporary files
WeatherApp/*.tmp
WeatherApp/*.temp

# Miscellaneous
WeatherApp/.angular/cache
WeatherApp/.sass-cache/
WeatherApp/connect.lock
WeatherApp/coverage
WeatherApp/libpeerconnection.log
WeatherApp/testem.log
WeatherApp/typings

# System files
WeatherApp/.DS_Store
WeatherApp/Thumbs.db

HELP.md
